/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
.mega-menu-btn {
  display: inline-block;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.mega-menu-header-area {
  background: #e6e6e6;
}
.mega-menu-header-area .nav-wrapper {
  display: block;
  z-index: 99999;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mega-menu-header-area .nav-wrapper {
    padding-right: 0px;
  }
}
.mega-menu-header-area .navbar > .container,
.mega-menu-header-area .navbar > .container-fluid {
  display: block;
}
.mega-menu-header-area .wrapper {
  align-items: center;
  width: 100%;
}
.mega-menu-header-area .mega-header {
  margin: 24px 0px;
  text-align: right;
}
@media screen and (min-width: 991px) {
  .mega-menu-header-area .mega-header {
    display: none;
  }
}
.mega-menu-header-area .navbar-nav {
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mega-menu-header-area .navbar-nav {
    position: absolute;
    right: 12%;
    margin-top: 4px;
  }
}
.mega-menu-header-area .single-row {
  margin-bottom: 15px;
  padding: 0 7.5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mega-menu-header-area .single-row {
    margin-bottom: 0px;
  }
}
.mega-menu-header-area .single-row .nav-item {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.mega-menu-header-area .single-row .nav {
  flex-direction: column;
  margin-bottom: 10px;
}
.mega-menu-header-area .single-row a:hover {
  text-decoration: none;
}
.mega-menu-header-area .navbar-toggler {
  background-color: #303841;
  margin-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area .navbar-toggler {
    position: absolute;
    right: 12%;
    margin-top: 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  .mega-menu-header-area .navbar-toggler {
    right: 2%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 730px) {
  .mega-menu-header-area .navbar-toggler {
    right: 2%;
    top: 5px;
  }
}
.mega-menu-header-area .navbar-toggler .fa {
  background-color: #303841;
}
@media (max-width: 991.98px) {
  .mega-menu-header-area .header-bottom.show {
    right: 0;
    z-index: 9999;
  }
}
.mega-menu-header-area .header-bottom {
  height: 100%;
  overflow-y: auto;
  position: block;
  z-index: 999999;
}
.mega-menu-header-area .header-bottom .nav-link {
  padding: 14px 25px;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  transition: 0.3s ease-in-out all;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area .header-bottom .nav-link {
    padding: 3px 25px;
  }
}
.mega-menu-header-area .header-bottom .nav-link:hover {
  background: #a6a6a6;
  display: block;
  z-index: 9999;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area .header-bottom {
    position: fixed;
    right: -100%;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
}
.mega-menu-header-area .navbar {
  padding: 0px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mega-menu-header-area .navbar {
    padding: 0px;
  }
}
@media screen and (max-width: 320px) {
  .mega-menu-header-area .navbar {
    padding: 25px;
  }
}
.mega-menu-header-area .navbar .dropdown-menu {
  border: none;
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu {
  position: block;
  z-index: 99999;
  max-width: 1120px;
  margin: 0 auto 0;
  top: 45px;
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu--another-brand {
  max-width: 620px;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area .navbar .dropdown-menu.mega-menu {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .mega-menu-header-area .navbar .dropdown-menu.mega-menu {
    position: absolute;
    top: 32px;
  }
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu .brand-large-img .brand-image {
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #a6a6a6;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu .brand-large-img .brand-image--categories {
  height: 280px;
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu .brand-large-img .img {
  position: relative;
  width: 100%;
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu .brand-large-img .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu .brand-large-img .img:hover .image {
  opacity: 0.3;
}
.mega-menu-header-area .navbar .dropdown-menu.mega-menu .brand-large-img .img:hover .middle {
  opacity: 1;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container {
  padding: 20px 20px 0px 20px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin-right: 11px;
  width: 100%;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container--brand {
  padding: 20px 20px 20px 20px;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area .navbar .dropdown-menu .main-container {
    margin-right: 0;
  }
}
.mega-menu-header-area .navbar .dropdown-menu .main-container .megamenu-head {
  position: relative;
  padding-left: 20px;
  width: 100%;
  font-size: 16px;
  word-wrap: break-word;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container .megamenu-head--clickable {
  position: relative;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #282828;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container .megamenu-head--clickable:hover {
  background-color: #e6e6e6;
  color: #303841;
  text-decoration: none;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container .megamenu-head--brand {
  border-bottom: 1.2px solid #e3e8ec;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container .megamenu-head::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 10px;
  height: 10px;
  background-color: #222222;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container ul li a {
  position: relative;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 400;
  width: 100%;
  color: #282828;
  font-size: 13px;
  padding: 3px;
  max-width: 147px;
  word-wrap: break-word;
}
.mega-menu-header-area .navbar .dropdown-menu .main-container ul li a:hover {
  background-color: #a6a6a6;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .mega-menu-header-area {
    /* shows the dropdown menu on hover */
  }
  .mega-menu-header-area .navbar .dropdown {
    position: static;
  }
  .mega-menu-header-area .navbar .dropdown-menu {
    width: 98%;
    left: 12px;
    right: 0;
    top: -2px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .mega-menu-header-area .navbar .dropdown:hover .dropdown-menu,
.mega-menu-header-area .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    z-index: 99999999;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .mega-menu-header-area .navbar .dropdown:hover .dropdown-toggle {
    position: relative;
    display: block;
    z-index: 9999999;
  }
  .mega-menu-header-area .navbar .dropdown:hover .dropdown-toggle::before {
    content: "";
    position: absolute;
    left: 48px;
    bottom: 0;
    width: 20px;
    border-width: 10px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
  }
  .mega-menu-header-area .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
.mega-menu-header-area--dark {
  background: #e6e6e6;
}
.mega-menu-header-area--dark .fa-times {
  color: white;
}
.mega-menu-header-area--dark .navbar-toggler {
  background-color: #303841;
  margin-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area--dark .navbar-toggler {
    position: absolute;
    right: 12%;
    margin-top: 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  .mega-menu-header-area--dark .navbar-toggler {
    right: 2%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 730px) {
  .mega-menu-header-area--dark .navbar-toggler {
    right: 2%;
    top: 5px;
  }
}
.mega-menu-header-area--dark .navbar-toggler .fa {
  background-color: #303841;
}
@media (max-width: 991.98px) {
  .mega-menu-header-area--dark .header-bottom.show {
    right: 0;
    z-index: 9999;
  }
}
.mega-menu-header-area--dark .header-bottom {
  height: 100%;
  overflow-y: auto;
  position: block;
  z-index: 999999;
}
.mega-menu-header-area--dark .header-bottom .nav-link {
  padding: 14px 25px;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  transition: 0.3s ease-in-out all;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area--dark .header-bottom .nav-link {
    padding: 3px 25px;
    color: white;
  }
}
.mega-menu-header-area--dark .header-bottom .nav-link:hover {
  display: block;
  z-index: 9999;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area--dark .header-bottom {
    position: fixed;
    right: -100%;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    background-color: #303841;
  }
}
.mega-menu-header-area--dark .navbar .dropdown-menu {
  border: none;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container {
  padding: 20px 20px 0px 20px;
  background-color: #303841;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin-right: 11px;
  width: 100%;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container--brand {
  padding: 20px 20px 20px 20px;
}
@media screen and (max-width: 991px) {
  .mega-menu-header-area--dark .navbar .dropdown-menu .main-container {
    margin-right: 0;
  }
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container .megamenu-head {
  position: relative;
  padding-left: 20px;
  color: #fff;
  font-size: 16px;
  max-width: 160px;
  word-wrap: break-word;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container .megamenu-head--clickable {
  position: relative;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #fff;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container .megamenu-head--clickable:hover {
  background-color: #e6e6e6;
  color: #303841;
  text-decoration: none !important;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container .megamenu-head--brand {
  border-bottom: 1.2px solid #e3e8ec;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container .megamenu-head::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container ul li a {
  position: relative;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 400;
  color: #fff;
  font-size: 13px;
  max-width: 147px;
  word-wrap: break-word;
}
.mega-menu-header-area--dark .navbar .dropdown-menu .main-container ul li a:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}
.mega-menu-header-area .header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.mega-menu-header-area .brand-img {
  max-width: 90px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .mega-menu-header-area .brand-img {
    max-width: 80px;
  }
}
@media screen and (max-width: 767px) {
  .mega-menu-header-area .brand-img {
    max-width: 60px;
  }
}
.mega-menu-header-area .border-brand {
  border-left: 1px solid #e3e8ec;
  padding-left: 20px;
}
.mega-menu-header-area .big-img {
  margin-top: 10px;
  border-top: 1px solid #e3e8ec;
  padding: 20px 0px;
  max-width: 150px;
}
@media screen and (max-width: 1024px) {
  .mega-menu-header-area .big-img {
    max-width: 120px;
  }
}
@media screen and (max-width: 767px) {
  .mega-menu-header-area .big-img {
    max-width: 100px;
  }
}

.responsive-menu-close,
.responsive-menu-trigger {
  color: #303841;
  font-size: 1.25rem;
}

.mega-menu-category {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .mega-menu-category {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .mega-menu-category {
    height: auto;
  }
}

.mega-menu-category > * {
  flex: 0 1 auto;
}

.padding-none {
  padding-bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
