/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.mega-menu-header-area {
    background: $primary-color;
    // position: relative;
    // z-index: 9999;
    .nav-wrapper {
        display: block;
        z-index: 99999;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            padding-right: 0px;
        }
    }
    .navbar > .container,
    .navbar > .container-fluid {
        display: block;
    }
    .wrapper {
        align-items: center;
        width: 100%;
    }
    .mega-header {
        margin: 24px 0px;
        text-align: right;
        @media screen and (min-width: 991px) {
            display: none;
        }
    }
    .navbar-nav {
        margin-left: auto;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            position: absolute;
            right: 12%;
            margin-top: 4px;
        }
    }
    .single-row {
        margin-bottom: 15px;
        padding: 0 7.5px;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            margin-bottom: 0px;
        }
        .nav-item {
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
            align-self: start;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }
        .nav {
            flex-direction: column;
            margin-bottom: 10px;
        }
       a{
        &:hover{
            text-decoration: none;
        }
       }
    }
    .navbar-toggler {
        background-color: $black;
        margin-bottom: 5px;
        @media screen and (max-width: 991px) {
            position: absolute;
            right: 12%;
            margin-top: 4px;
        }
        @media screen and (min-width: 768px) and (max-width: 800px) {
            right: 2%;
            margin-top: 20px;
        }
        @media screen and (max-width: 730px) {
            right: 2%;
            top: 5px;
        }
        .fa {
            background-color: $black;
        }
    }

    @media (max-width: 991.98px) {
        .header-bottom.show {
            right: 0;
            z-index: 9999;
        }
    }

    .header-bottom {
        height: 100%;
        overflow-y: auto;
        position: block;
        z-index: 999999;
        // margin-top: 7px;
        .nav-link {
            padding: 14px 25px;
            color: $title-color;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            background: transparent;
            transition: 0.3s ease-in-out all;
            @media screen and (max-width: 991px) {
                padding: 3px 25px;
            }
            &:hover {
                background: $nav-hover;
                display: block;
                z-index: 9999;
            }
        }
        @media screen and (max-width: 991px) {
            // padding-top: 10px;
            // padding-bottom: 10px;
            // position: absolute;
            // top: 20px;
            // width: 100%;
            // background: $text-color;
            position: fixed;
            right: -100%;
            top: 0;
            width: 80%;
            height: 100%;
            z-index: 9;
            transition: all 0.3s ease-in-out;
            background-color: white;
        }

        // @media screen and (max-width: 320px) {
        //     top: 15px;
        // }
    }
    .navbar {
        padding: 0px;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            padding: 0px;
        }
        @media screen and (max-width: 320px) {
            padding: 25px;
        }
    }

    .navbar .dropdown-menu {
        border: none;

        &.mega-menu {
            position: block;
            z-index: 99999;
            max-width: 1120px;
            margin: 0 auto 0;
            top: 45px;
            background-color: transparent !important;
            border: 0;
            border-radius: 0;
            &--brand{
            }
            &--another-brand {
                max-width: 620px;
            }
            @media screen and (max-width: 991px) {
                width: 100%;
            }
            @media screen and (max-width: 767px) {
                position: absolute;
                top: 32px;
            }

            .brand-large-img {
                .brand-image {
                    width: 100%;
                    height: 100px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border: 1px solid $nav-hover;
                    opacity: 1;
                    display: block;
                    transition: 0.5s ease;
                    backface-visibility: hidden;
                    &--categories {
                        height: 280px;
                    }
                }
                .img {
                    position: relative;
                    width: 100%;
                }

                .middle {
                    transition: 0.5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                }

                .img:hover .image {
                    opacity: 0.3;
                }

                .img:hover .middle {
                    opacity: 1;
                }
            }
        }
        .main-container {
            padding:20px 20px 0px 20px;
            background-color: $white;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
            margin-right: 11px;
            width: 100%;
            &--brand{
                padding:20px 20px 20px 20px;
            }
            @media screen and (max-width: 991px) {
                margin-right: 0;
            }
            .megamenu-head {
                position: relative;
                padding-left: 20px;
                // padding-bottom: 7px;
                // margin-bottom: 15px;
                width: 100%;
                font-size: 16px;
                word-wrap: break-word;
                &--clickable {
                    position: relative;
                    -moz-transition: all 500ms ease;
                    -webkit-transition: all 500ms ease;
                    -o-transition: all 500ms ease;
                    transition: all 500ms ease;
                    -moz-backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    color: #282828;
                    &:hover {
                        background-color: $primary-color;
                        color: $black;
                        text-decoration: none;
                    }
                }
                &--brand {
                    border-bottom: 1.2px solid #e3e8ec;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 8px;
                    width: 10px;
                    height: 10px;
                    background-color: $title-color;
                }
            }

            ul li a {
                position: relative;
                -moz-transition: all 500ms ease;
                -webkit-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                transition: all 500ms ease;
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                font-weight: 400;
                width: 100%;
                color: #282828;
                font-size: 13px;
                padding: 3px;
                max-width: 147px;
                word-wrap: break-word;
                &:hover {
                    background-color: $nav-hover;
                    text-decoration: none;
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        .navbar .dropdown {
            position: static;
        }

        .navbar .dropdown-menu {
            width: 98%;
            left: 12px;
            right: 0;
            top: -2px;
            display: flex;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.3s linear;
        }

        /* shows the dropdown menu on hover */
        .navbar .dropdown:hover .dropdown-menu,
        .navbar .dropdown .dropdown-menu:hover {
            display: block;
            visibility: visible;
            z-index: 99999999;
            opacity: 1;
            transition: visibility 0s, opacity 0.3s linear;
        }

        .navbar .dropdown:hover .dropdown-toggle {
            position: relative;
            display: block;
            z-index: 9999999;
            &::before {
                content: "";
                position: absolute;
                left: 48px;
                bottom: 0;
                width: 20px;
                border-width: 10px;
                border-color: transparent transparent #fff transparent;
                border-style: solid;
            }
        }

        .navbar .dropdown-menu {
            border: 1px solid rgba(0, 0, 0, 0.15);
            background-color: #fff;
        }
    }
    &--dark {
        background: $primary-color;
        .fa-times {
            color: white;
        }

        .navbar-toggler {
            background-color: $black;
            margin-bottom: 5px;
            @media screen and (max-width: 991px) {
                position: absolute;
                right: 12%;
                margin-top: 4px;
            }
            @media screen and (min-width: 768px) and (max-width: 800px) {
                right: 2%;
                margin-top: 20px;
            }
            @media screen and (max-width: 730px) {
                right: 2%;
                top: 5px;
            }
            .fa {
                background-color: $black;
            }
        }

        @media (max-width: 991.98px) {
            .header-bottom.show {
                right: 0;
                z-index: 9999;
            }
        }

        .header-bottom {
            height: 100%;
            overflow-y: auto;
            position: block;
            z-index: 999999;
            // margin-top: 7px;
            .nav-link {
                padding: 14px 25px;
                color: $title-color;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                background: transparent;
                transition: 0.3s ease-in-out all;
                @media screen and (max-width: 991px) {
                    padding: 3px 25px;
                    color: white;
                }
                &:hover {
                    display: block;
                    z-index: 9999;
                }
            }
            @media screen and (max-width: 991px) {
                // padding-top: 10px;
                // padding-bottom: 10px;
                // position: absolute;
                // top: 20px;
                // width: 100%;
                // background: $text-color;
                position: fixed;
                right: -100%;
                top: 0;
                width: 80%;
                height: 100%;
                z-index: 9;
                transition: all 0.3s ease-in-out;
                background-color: $black;
            }

            // @media screen and (max-width: 320px) {
            //     top: 15px;
            // }
        }

        .navbar .dropdown-menu {
            border: none;
            .main-container {
                padding:20px 20px 0px 20px;
                background-color: $black;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
                margin-right: 11px;
                width: 100%;
                &--brand{
                    padding:20px 20px 20px 20px;
                }
                @media screen and (max-width: 991px) {
                    margin-right: 0;
                }
                .megamenu-head {
                    position: relative;
                    padding-left: 20px;
                    // padding-bottom: 7px;
                    // margin-bottom: 15px;
                    color: $white;
                    font-size: 16px;
                    max-width: 160px;
                    word-wrap: break-word;

                    &--clickable {
                        position: relative;
                        -moz-transition: all 500ms ease;
                        -webkit-transition: all 500ms ease;
                        -o-transition: all 500ms ease;
                        transition: all 500ms ease;
                        -moz-backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        color: $white;
                        &:hover {
                            background-color: $primary-color;
                            color: $black;
                            text-decoration: none !important;
                        }
                    }
                    &--brand {
                        border-bottom: 1.2px solid #e3e8ec;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: 8px;
                        width: 10px;
                        height: 10px;
                        background-color: $primary-color;
                    }
                }

                ul li a {
                    position: relative;
                    -moz-transition: all 500ms ease;
                    -webkit-transition: all 500ms ease;
                    -o-transition: all 500ms ease;
                    transition: all 500ms ease;
                    -moz-backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    font-weight: 400;
                    color: $white;
                    font-size: 13px;
                    max-width: 147px;
                    word-wrap: break-word;
                    &:hover {
                        color: darken($color: $black, $amount: 50%);
                        background-color: lighten($color: $primary-color, $amount: 20%);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .header-scrolled {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .brand-img {
        max-width: 90px;
        padding-bottom: 10px;
        @media screen and (max-width: 1024px) {
            max-width: 80px;
        }
        @media screen and (max-width: 767px) {
            max-width: 60px;
        }
    }
    .border-brand {
        border-left: 1px solid #e3e8ec;
        padding-left: 20px;
    }
    .big-img {
        margin-top: 10px;
        border-top: 1px solid #e3e8ec;
        padding: 20px 0px;
        max-width: 150px;
        @media screen and (max-width: 1024px) {
            max-width: 120px;
        }
        @media screen and (max-width: 767px) {
            max-width: 100px;
        }
    }
}

.responsive-menu-close,
.responsive-menu-trigger {
    color: $black;
    font-size: 1.25rem;
}

.mega-menu-category {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and (max-width: 991px) {
        // flex-direction: row;
        height: auto;
    }
    @media screen and (max-width: 767px) {
        // flex-direction: row;
        height: auto;
    }
}
.mega-menu-category > * {
    flex: 0 1 auto;
    // flex: 1 1 160px;
    // flex: min-content;
}

.padding-none {
    padding-bottom: 0px;
}
