
//    Font Family

$primary-font	: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #e6e6e6;
$primary-color2	: rgb(112, 234, 0);
$nav-hover      : #a6a6a6;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #232323;

$btn-color      : #5778f2;

$blue           : #5778f2;
$yellow         : #f7bb71;
$green          : #99f028;
$pink           : #f939cb;
$perpel         : #8b28f0;





